node_modules
npm-debug.log
yarn-error.log
coverage
.git
.gitignore
README.md
.vscode
.idea
.env
.env.local
.env.development
.env.test
.env.production
*.md
.DS_Store
dist
.husky
azure-pipelines.yml
*.spec.ts
*.spec.js
__tests__
__mocks__

